<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1 class="mainTitle"> tldl </h1>
	{{{ body }}}
</body>
</html>
