<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Bootstrap Core CSS -->

<!-- Custom CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	{{{ body }}}
</body>
</html>
