<div class="page-wrapper">

	<div class="sidebar">

			{{#each listOfLectures}}
		<a href='{{this.time_seconds}}' class="button">{{this.timestamp}}</a>
			{{/each}}
	  
	</div>
	<div id="lecture-notes">
		<p id="transcription">
			{{{lecture}}}
		</p>
		<p id="summary"> </p>
	</div>
</div>
