<div class="page-wrapper">

	<div class="test">
		<ul class="sidebar-nav">
			{{#each listOfLectures}}
			<li class="lectureElement"><a href='{{this.time_seconds}}'>{{this.timestamp}}</a></li>
			{{/each}}
	  </ul>
	</div>
	<div id="lecture-notes">
		<p id="transcription">
			{{{lecture}}}
		</p>
		<p id="summary"> </p>
	</div>
</div>
