<div class="page-wrapper">

	<div class="test">
		<ul class="sidebar-nav">
			{{#each listOfLectures}}
			<li class="lectureElement"><a href='{{this.time}}'>{{this.time}}</a></li>
			{{/each}}
	  </ul>
	</div>
	<div id="lecture-notes">
		<p id="transcription">
			In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake. Here, we’ll refer to some time-honored typesetting conventions, with an emphasis on readability, and offer guidance on adapting them effectively for devices and screens. We’ll see that the ability to embed fonts with @font-face is not by itself a solution to all of our typographic challenges.
			{{lecture}}
		</p>
		<p id="summary"> </p>
	</div>
</div>
